body {
background-color: aliceblue;
}

h1 {
    font-size: xx-large;
    color: aqua;
}

.details {
    align-items: center;
}

fieldset {
    align-content: center;
    text-align: center;
    
}

button {
    color: coral;
    background-color: rgb(170, 160, 148);
    font-size: large;
}